/Digits.class
/Judge123A.class
/Judge123B.class
/Judge123C.class
/JudgeSign.class
/Max3.class
/Max3m.class
/Median.class
/Multi99Table.class
/SumFor.class
/SumForPos.class
/SumWhile.class
/TriangleLB.class
